# Python specific files
__pycache__/

# Pyenv local version
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# pyinstaller build dist
build/
dist/

# OlivOS logfile
logfile/

# OlivOS lib directory
lib/

# ruff cache
.ruff_cache/